---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout title="Sobre mí - Ángel">
  <main>
    <h1 class="text-white text-5xl font-bold flex justify-center flex-row gap-x-4 pb-10">Sobre mí</h1>
    <p class="text-xl opacity-80">
      Me llamo Ángel, soy desarrollador de software con residencia en Cádiz, con pasión por crear aplicaciones modernas, eficientes y con buen diseño.

    </p>
  </main>
</Layout>
