---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout title="Sobre mí - Ángel">
  <main class="w-full lg:w-[740px] mx-auto py-44 text-white text-center">
    <h1 class="text-white text-5xl font-bold pb-10">Sobre mí</h1>
    <p class="text-xl opacity-80 mb-6">
      Me llamo Ángel, soy desarrollador de software con residencia en Cádiz, con pasión por crear aplicaciones modernas, eficientes y con buen diseño.
    </p>
    <p class="text-xl opacity-80 mb-6">
      Me especializo en desarrollo backend, principalmente utilizando los lenguajes de Kotlin, Java y Python, integrando bases de datos como MySQL, MariaDB o MongoDB. Además, tengo experiencia en el desarrollo móvil con Android Studio y ciertos conocimientos de desarrollo de videojuegos con Godot Engine que podeis ver en proyectos. También me gusta trabajar con tecnologías web como HTML, CSS y JavaScript, como muestro en esta página.
    </p>
    <p class="text-xl opacity-80 mb-6">
      Me gusta mantenerme al día con las últimas tendencias en tecnología, escribir código limpio y colaborar en proyectos que tengan impacto real. Actualmente estoy trabajando en mejorar mis habilidades en desarrollo full-stack y desplegar mis proyectos en plataformas como GitHub Pages.
    </p>
    <p class="text-xl opacity-80">
      Además de programar,  me gustan mucho los deportes, el cine y los videojuegos. También aprender cosas nuevas y mejorar constantemente. Este portfolio es una pequeña muestra de mi trabajo autodidacta y evolución como desarrollador.
    </p>
  </main>
</Layout>
