---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout title="Contacto - Ãngel">
  <main class="w-full lg:w-[740px] mx-auto py-44 text-white">
    <h1 class="text-white text-5xl font-bold flex justify-center flex-row gap-x-4 pb-10">Contacto</h1>
    <p class="text-xl opacity-80 mb-4">
      Puedes escribirme al correo:
      <a
        href="mailto:angelsanchezmendoz@gmail.com"
        class="text-blue-400 underline"
      >angelsanchezmendoz@gmail.com</a>
    </p>
  </main>
</Layout>
