---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import "../styles/global.css";
import Social from '../components/Social.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import GithubIcon from '../icons/Github.astro';
import EmailIcon from '../icons/Email.astro';
---

<Layout title="Portfolio de Ángel - Desarrollador y Programador de software">
	<main>
		<section class="w-full max-w-[740px] mx-auto py-20 md:py-32 lg:py-44 px-4">

			<h1 class="text-white text-3xl sm:text-4xl md:text-5xl font-bold flex flex-col md:flex-row justify-center items-center gap-4 pb-8 md:pb-10 text-center">
				Hey, soy Ángel 
				<a 
					href="https://www.linkedin.com/in/angelsan-dev" 
					target="_blank" 
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>

			<h2 class="text-lg sm:text-xl md:text-2xl opacity-80 text-wrap text-center">
				<span class="text-blue-400/90">Desarrollador de software.</span> <span class="text-purple-400/90">De Cádiz, España.</span> <span>Especializado en crear aplicaciones únicas y eficientes con tecnologías modernas.</span>
			</h2>

			
			
		</section>
	</main>
</Layout>

