---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout title="Proyectos - Ángel">
  <main class="w-full lg:w-[740px] mx-auto py-44 text-white">
    <h1 class="text-white text-5xl font-bold flex justify-center flex-row gap-x-4 pb-10">Proyectos</h1>
    <ul class="list-disc ml-5 space-y-2">
      <li>Proyecto A: descripción breve.</li>
      <li>Proyecto B: descripción breve.</li>
      <li>Proyecto C: descripción breve.</li>
    </ul>
  </main>
</Layout>
