<header class="flex justify-center items-center gap-x-15 py-5 w-[1120px] mx-auto">
    <img 
        class="rounded-full w-20 h-21" 
        src="/images/Fotillo.jpg" 
        alt="angel photo" />

    <nav class="flex flex-row gap-x-10 opacity-80 ">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
            
    </nav>

</header>