<header class="flex flex-col md:flex-row justify-center items-center gap-4 md:gap-10 py-5 w-full max-w-[1120px] mx-auto px-4">

    <img 
        class="rounded-full w-20 h-21" 
        src="/images/Fotillo.jpg" 
        alt="angel photo" />

    <nav class="flex flex-row gap-x-10 opacity-80 ">
        <a href="/" class="hover:underline">Inicio</a>
        <a href="/about" class="hover:underline">Sobre mí</a>
        <a href="/projects" class="hover:underline">Proyectos</a>
        <a href="/contact" class="hover:underline">Contacto</a>
            
    </nav>

</header>